---
import type { ResourceNode } from "@/types";

export interface Props {
  slug?: string;
  variation?: string;
  resources: ResourceNode[];
}

const { slug, variation, resources } = Astro.props;
---

{
  variation ? (
    <div>
      <p>
        You are on {slug}/{variation} collection page
      </p>
      <p>Total resources: {resources.length}</p>
    </div>
  ) : slug ? (
    <div>
      <p>You are on {slug} collection page</p>
      <p>Total resources: {resources.length}</p>
    </div>
  ) : null
}
