---
import { getMenuNodeById } from "../../store/nodes";
import Socials from "./widgets/Socials.astro";
import FooterMenu from "./nav/FooterMenu.astro";
import Link from "./nav/Link.astro";
import type { Config, MenuDatum } from "../../types";

export interface Props {
  slug: string;
  isContext: boolean;
  config: Config;
  created?: Date;
  menu?: MenuDatum | null;
  menuId?: string | null;
  backToTop?: boolean;
}

const {
  created: rawCreated = new Date(),
  backToTop = false,
  menu,
  menuId,
  slug,
  isContext,
  config,
} = Astro.props;
const footer = config?.init?.FOOTER || ``;
const socials = typeof config?.init?.SOCIALS === "string" ? config.init.SOCIALS : "";
const menuPayload = typeof menuId === `string` ? getMenuNodeById(menuId) : menu;
const createdDate =
  typeof rawCreated === "number"
    ? new Date(rawCreated)
    : rawCreated instanceof Date
      ? rawCreated
      : new Date();
---

<div class="w-full h-6 md:h-8 bg-gradient-to-b from-transparent to-white"></div>
<footer class="w-full bg-white">
  <div class="flex justify-end px-6">
    {
      backToTop ? (
        <button
          id="top"
          title="Back to top"
          class="motion-safe:animate-fadeInUp font-action font-bold text-black px-1.5 rounded-md bg-white/20 border-mydarkgrey/20 border-2 hover:bg-myorange hover:text-white text-2xl fixed bottom-4 right-[max(8px,calc(8px+env(safe-area-inset-right)))]"
        >
          ↑
        </button>
      ) : null
    }
  </div>
  <div class="pb-6">
    {
      !!menuPayload ? (
        <FooterMenu payload={menuPayload} slug={slug} isContext={isContext} config={config} />
      ) : null
    }
    <Socials payload={socials} />
    <div class="my-2 flex flex-col items-center justify-center xs:flex-row text-myblue">
      <div class="px-12 text-center text-2xl">
        Copyright &#169; {createdDate.getFullYear()}
        &nbsp;|&nbsp;
        {footer}
      </div>
    </div>
    <div class="my-2 flex flex-col items-center justify-center xs:flex-row text-myblue">
      <div class="px-12 text-center text-lg">
        This website has been pressed with
        <Link
          href="https://tractstack.com/?utm_source=tractstack&utm_medium=www&utm_campaign=community"
          className="underline font-bold hover:text-black"
          target="_blank"
          title="Tract Stack by At Risk Media"
        >
          Tract Stack</Link
        >
        by <Link
          href="https://atriskmedia.com/?utm_source=tractstack&utm_medium=www&utm_campaign=community"
          className="underline font-bold hover:text-black"
          target="_blank"
          title="At Risk Media">At Risk Media</Link
        >
        | no-code website builder and content marketing platform
      </div>
      <br /><br /><br />
    </div>
  </div>
</footer>

<style>
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
</style>
