---
import { getConfig, validateConfig } from "@/utils/core/config.ts";
import StoryKeep from "@/layouts/StoryKeep.astro";
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import MenuEditor from "@/components/storykeep/controls/manage/MenuEditor.tsx";
import { NodesDeserializer_Json } from "@/store/nodesDeserializer_Json.ts";
import { getMenuByIdRowData } from "@/utils/db/turso.ts";
import { getFullContentMap } from "@/utils/db/turso.ts";
import type { AuthStatus, MenuNode, MenuLink } from "@/types.ts";
import type { LoadData } from "@/store/nodesSerializer.ts";

const { id } = Astro.params;
const create = id === "create";

const user = Astro.locals.user as AuthStatus;
const config = await getConfig(Astro.locals.tenant?.paths.configPath);
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}
const canonicalURL = `/storykeep/content/menus/${id}`;
const menuPayload: MenuNode = {
  id: `storykeep`,
  parentId: null,
  nodeType: `Menu`,
  title: "Story Keep Menu",
  theme: "default",
  optionsPayload: [
    {
      name: "Dashboard",
      description: "Your Story Keep Dashboard",
      featured: true,
      actionLisp: "(goto (storykeep dashboard))",
    },
    {
      name: "Logout",
      description: "Close this session",
      featured: true,
      actionLisp: "(goto (storykeep logout))",
    },
  ],
};

// Get all the data from Turso
const menuRowData = id ? await getMenuByIdRowData(id) : null;
if (!menuRowData && !create) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

// Initialize deserializer
const deserializer = new NodesDeserializer_Json();
const loadData: LoadData = {};
if (menuRowData) deserializer.processMenuRowData(menuRowData, loadData);
const defaultMenu: MenuNode = {
  id: ``,
  parentId: null,
  nodeType: `Menu` as const,
  title: ``,
  theme: ``,
  optionsPayload: [] as MenuLink[],
};
const menu = loadData?.menuNodes?.length ? loadData.menuNodes.at(0) : defaultMenu;
if (!menu) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

// get storykeep datum
const contentMap = await getFullContentMap();
---

<StoryKeep
  title={create ? "Create New Menu" : `Edit Menu: ${menu.title}`}
  canonicalURL={canonicalURL}
  config={config}
>
  <Header
    title={create ? "Create New Menu" : `Edit Menu: ${menu.title}`}
    menu={menuPayload}
    slug={`storykeep-manage-menu-${id}`}
    isContext={false}
    user={user}
    isStoryKeep={true}
    isEditable={false}
    config={config}
  />
  <main id="main-content" class="min-h-screen">
    <div class="px-1.5 pt-1.5 pb-0 pr-0 pl-1.5 py-1.5">
      <div class="py-1.5 bg-white px-3.5">
        <MenuEditor menu={menu} create={create} contentMap={contentMap} client:only="react" />
      </div>
    </div>
  </main>
  <Footer
    menu={menuPayload}
    backToTop={true}
    slug={`storykeep-manage-menu-${id}`}
    isContext={false}
    config={config}
  />
</StoryKeep>
