---
import { ulid } from "ulid";
import { getConfig, validateConfig } from "../../../utils/core/config";
import StoryKeep from "../../../layouts/StoryKeep.astro";
import CreateNewPage from "../../../components/storykeep/create/CreateNewPage";
import { getContentMap } from "../../../utils/db/utils";
import type { ContentMap } from "../../../types";

const slug = `create`;
const newId = ulid();

const config = await getConfig();
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}
const canonicalURL = `/context/${slug}`;

const contentMap: ContentMap[] = await getContentMap();
const contentMapSlugs = contentMap?.map((p: ContentMap) => p.slug) || [];
---

<StoryKeep
  title="Create New Context Page"
  pubDatetime={new Date()}
  modDatetime={null}
  canonicalURL={canonicalURL}
  config={config}
>
  <div id="storykeep-content">
    <CreateNewPage
      mode="context"
      contentMapSlugs={contentMapSlugs}
      newId={newId}
      tractStackId={``}
      hello={false}
      config={config}
      client:load
    />
  </div>
</StoryKeep>
