---
import { ulid } from "ulid";
import { getConfig, validateConfig } from "../../../../utils/core/config";
import StoryKeep from "../../../../layouts/StoryKeep.astro";
import Header from "../../../../components/common/Header.astro";
import Footer from "../../../../components/common/Footer.astro";
import ResourceEditor from "../../../../components/storykeep/manage/ResourceEditor";
import { getResourcesBySlug } from "../../../../utils/db/utils";
import type { AuthStatus, MenuDatum, ResourceDatum } from "../../../../types";

const { slug } = Astro.params;
const create = slug === "create";

const user = Astro.locals.user as AuthStatus;
const config = await getConfig();
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}
const canonicalURL = `/storykeep/manage/resource/${slug}`;

let resource: ResourceDatum;

if (create) {
  resource = {
    id: ulid(),
    title: "",
    slug: "",
    category: null,
    actionLisp: "",
    oneliner: "",
    optionsPayload: {},
  };
} else {
  if (!slug) return Astro.redirect("/404");
  const resources = await getResourcesBySlug([slug]);
  resource = resources[0];
  if (!resource) return Astro.redirect("/404");
}

const menuPayload: MenuDatum = {
  id: `storykeep`,
  title: "Story Keep Menu",
  theme: "default",
  optionsPayload: [
    {
      name: "Dashboard",
      description: "Your Story Keep Dashboard",
      featured: true,
      actionLisp: "(goto (storykeep dashboard))",
    },
    {
      name: "Logout",
      description: "Close this session",
      featured: true,
      actionLisp: "(goto (storykeep logout))",
    },
  ],
};
---

<StoryKeep
  title={create ? "Create New Resource" : `Edit Resource: ${resource.title}`}
  canonicalURL={canonicalURL}
  config={config}
>
  <Header
    title={create ? "Create New Resource" : `Edit Resource: ${resource.title}`}
    menu={menuPayload}
    slug={`storykeep-manage-resource-${slug}`}
    isContext={false}
    user={user}
    isStoryKeep={true}
    isEditable={false}
    config={config}
  />
  <main id="main-content" class="min-h-screen">
    <div class="px-1.5 pt-1.5 pb-0 pr-0 pl-1.5 py-1.5">
      <div class="py-1.5 bg-white px-3.5">
        <ResourceEditor resource={resource} create={create} client:load />
      </div>
    </div>
  </main>
  <Footer
    menu={menuPayload}
    backToTop={true}
    slug={`storykeep-manage-resource-${slug}`}
    isContext={false}
    config={config}
  />
</StoryKeep>
