---
import { getAPIContext } from "@/utils/api/astroContext";
import { getFullContentMap, computeStoryfragmentAnalytics } from "@/utils/db/turso.ts";
import type { FullContentMap, ResourceNode, CodeHookPayload } from "@/types";
import CustomHero from "./CustomHero.astro";
import FeaturedContent from "@/components/codehooks/FeaturedContent.astro";
import ListContent from "@/components/codehooks/ListContent.astro";
import BunnyVideoWrapper from "@/components/codehooks/BunnyVideoWrapper.astro";

export interface Props {
  target: string;
  resources?: ResourceNode[];
  options?: CodeHookPayload;
}

const { target, options /* resources */ } = Astro.props;
const context = getAPIContext(Astro);
const contentMap: FullContentMap[] = await getFullContentMap(context);
const storyfragmentAnalytics = await computeStoryfragmentAnalytics(context);

export const components = {
  "custom-hero": true,
  "featured-content": true,
  "list-content": true,
  "bunny-video": true,
};

// if passing props:
//) : target === "Pricing" ? (
//  <Pricing client:load resources={resources} options={options} />
---

{
  target === "list-content" ? (
    <ListContent
      options={options}
      contentMap={contentMap}
      storyfragmentAnalytics={storyfragmentAnalytics}
    />
  ) : target === "featured-content" ? (
    <FeaturedContent options={options} contentMap={contentMap} />
  ) : target === "bunny-video" ? (
    <BunnyVideoWrapper options={options} />
  ) : target === "custom-hero" ? (
    <CustomHero />
  ) : (
    <div>Code hook not found</div>
  )
}
