---
import { getConfig, validateConfig } from "@/utils/core/config.ts";
import StoryKeep from "@/layouts/StoryKeep.astro";
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import { NodesDeserializer_Json } from "@/store/nodesDeserializer_Json.ts";
import { getResourceBySlugRowData } from "@/utils/db/turso.ts";
import ResourceEditor from "@/components/storykeep/controls/manage/ResourceEditor.tsx";
import type { ResourceNode, AuthStatus, MenuDatum } from "@/types.ts";
import type { LoadData } from "@/store/nodesSerializer.ts";

const { slug } = Astro.params;
const create = slug === "create";
if (!slug && !create) return Astro.redirect("/404");

const user = Astro.locals.user as AuthStatus;
const config = await getConfig();
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}

const canonicalURL = `/storykeep/content/resources/${slug}`;
const menuPayload: MenuDatum = {
  id: `storykeep`,
  title: "Story Keep Menu",
  theme: "default",
  optionsPayload: [
    {
      name: "Dashboard",
      description: "Your Story Keep Dashboard",
      featured: true,
      actionLisp: "(goto (storykeep dashboard))",
    },
    {
      name: "Logout",
      description: "Close this session",
      featured: true,
      actionLisp: "(goto (storykeep logout))",
    },
  ],
};

// Get all the data from Turso
const resourceRowData = !create ? await getResourceBySlugRowData(slug) : null;
if (!resourceRowData && !create) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

// Initialize deserializer
const loadData: LoadData = {};
if (!create && resourceRowData) {
  const deserializer = new NodesDeserializer_Json();
  deserializer.processResourceRowData(resourceRowData, loadData);
}
const defaultResource: ResourceNode = {
  id: ``,
  parentId: null,
  nodeType: `Resource` as const,
  title: ``,
  slug: ``,
  category: ``,
  oneliner: ``,
  actionLisp: ``,
  optionsPayload: {},
};
const resource = loadData?.resourceNodes?.length ? loadData.resourceNodes.at(0) : defaultResource;
if (!resource) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}
---

<StoryKeep
  title={create ? "Create New Resource" : `Edit Resource: ${resource.title}`}
  canonicalURL={canonicalURL}
  config={config}
>
  <Header
    title={create ? "Create New Resource" : `Edit Resource: ${resource.title}`}
    menu={menuPayload}
    slug={`storykeep-manage-resource-${slug}`}
    isContext={false}
    user={user}
    isStoryKeep={true}
    isEditable={false}
    config={config}
  />
  <main id="main-content" class="min-h-screen">
    <div class="px-1.5 pt-1.5 pb-0 pr-0 pl-1.5 py-1.5">
      <div class="py-1.5 bg-white px-3.5">
        <ResourceEditor resource={resource} create={create} client:load />
      </div>
    </div>
  </main>
  <Footer
    menu={menuPayload}
    backToTop={true}
    slug={`storykeep-manage-resource-${slug}`}
    isContext={false}
    config={config}
  />
</StoryKeep>
