---
import { getAPIContext } from "@/utils/api/astroContext";
import { components as codeHookComponents } from "@/custom/CodeHook.astro";
import { getConfig, validateConfig } from "@/utils/core/config.ts";
import { getCtx } from "@/store/nodes.ts";
import { NodesDeserializer_Json } from "@/store/nodesDeserializer_Json";
import { getContextPaneBySlugFullRowData } from "@/utils/db/turso.ts";
import StoryKeepHeader from "@/components/storykeep/controls/StoryKeepHeader.tsx";
import StoryKeepToolBar from "@/components/storykeep/controls/StoryKeepToolBar.tsx";
import StoryKeepToolMode from "@/components/storykeep/controls/StoryKeepToolMode.tsx";
import PullPanelAnalytics from "@/components/storykeep/controls/state/PullPanelAnalytics.tsx";
import { ReactNodesWrapper } from "@/components/compositor-nodes/ReactNodesWrapper.tsx";
import StoryKeep from "@/layouts/StoryKeep.astro";
import SettingsPanel from "@/components/storykeep/controls/SettingsPanel.tsx";
import { ulid } from "ulid";
import HudDisplay from "@/components/storykeep/HudDisplay";
import type { LoadData } from "@/store/nodesSerializer.ts";
import type { PaneNode } from "@/types";

const context = getAPIContext(Astro);
const tenantId = context.locals.tenant?.id || "default";
const config = await getConfig(Astro.locals.tenant?.paths.configPath, tenantId);
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}

const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");

const canonicalURL = `/context/${slug}`;

let loadData: LoadData = {};

if (slug === "create") {
  const paneNode = {
    id: ulid(),
    nodeType: "Pane",
    parentId: null,
    title: "",
    slug: "",
    isContextPane: true,
    created: new Date(),
    changed: new Date(),
    isDecorative: false,
  } as PaneNode;

  loadData = {
    paneNodes: [paneNode],
  };
} else {
  const fullData = await getContextPaneBySlugFullRowData(slug, context);
  if (!fullData) {
    return new Response(null, {
      status: 404,
      statusText: "Not Found",
    });
  }

  const deserializer = new NodesDeserializer_Json();
  fullData.panes.forEach((pane) => {
    deserializer.processPaneRowData(pane, loadData);
  });
}

getCtx().buildNodesTreeFromRowDataMadeNodes(loadData);

const paneNode =
  slug === "create" ? loadData.paneNodes?.[0] : getCtx().getContextPaneNodeBySlug(slug);

if (!paneNode) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}
---

<StoryKeep
  title={paneNode?.title}
  pubDatetime={paneNode.created || new Date()}
  modDatetime={paneNode.changed || new Date()}
  config={config}
  canonicalURL={canonicalURL}
>
  <header id="mainHeader" class="fixed top-0 left-0 right-0 bg-mywhite z-[8999] drop-shadow">
    <StoryKeepHeader
      keyboardAccessibleEnabled={config.init?.KEYBOARD_ACCESSIBLE || false}
      isContext={true}
      nodeId={paneNode.id}
      client:load
    />
    <PullPanelAnalytics id={paneNode.id} type="pane" client:only="react" />
  </header>
  <div id="headerSpacer"></div>

  <div class="flex min-h-screen">
    <nav
      id="mainNav"
      class="fixed bg-mywhite z-40 bottom-0
      left-0 right-0 pt-1.5
      md:bottom-auto md:left-0 md:top-0 md:w-16 md:h-screen md:pt-0"
    >
      <div
        class="flex flex-wrap gap-4 justify-around py-3.5
        md:flex-col md:items-center md:space-y-2 md:space-x-0 md:py-2 md:gap-8 md:mt-8"
      >
        <StoryKeepToolMode isContext={true} client:only="react" />
      </div>
    </nav>

    <nav id="toolbarNav" class="fixed z-[101] w-full md:w-auto">
      <StoryKeepToolBar client:only="react" />
    </nav>

    <div class="hidden md:block w-16 flex-shrink-0"></div>

    <main class="flex-1 relative">
      <div
        class="bg-myblue/20 px-4 pb-28 min-h-screen"
        style={{
          paddingBottom: "8rem",
          backgroundImage:
            "repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(0,0,0,0.05) 10px, rgba(0,0,0,0.05) 20px)",
        }}
      >
        <ReactNodesWrapper id={paneNode.id} nodes={loadData} config={config} client:only="react" />
      </div>
    </main>
  </div>

  <div id="navSpacer" class="md:hidden h-32"></div>

  <div
    id="bottom-right-controls"
    class="fixed right-1 z-[10000] flex flex-col items-end gap-2"
    style={{ bottom: `var(--bottom-right-controls-bottom-offset)` }}
  >
    <div id="hud">
      <HudDisplay client:only="react" />
    </div>
    <SettingsPanel
      config={config}
      availableCodeHooks={Object.keys(codeHookComponents)}
      client:only="react"
    />
  </div>
</StoryKeep>

<script>
  import { setupLayoutObservers, setupLayoutStyles } from "@/utils/storykeep/layout";
  setupLayoutStyles();
  setupLayoutObservers();
</script>

<style>
  #hud:hover {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
</style>
